<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189972053095-paah9lmg0ns60d1jkj9f2icjeda82c10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189972053095-paah9lmg0ns60d1jkj9f2icjeda82c10</string>
	<key>API_KEY</key>
	<string>AIzaSyDPPBJXx5xMwU0hThtVUg_coO1aLUx80TE</string>
	<key>GCM_SENDER_ID</key>
	<string>189972053095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-439bd</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-439bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189972053095:ios:ccdda1f9012ae530a8a8c2</string>
</dict>
</plist>